@import "../scss/fontawesome.scss";
@import "../scss/solid.scss";
@import "../scss/regular.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 600px;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 50px;

  .table {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    &-head {
        width: 100%;
        height: 40px;
        display: flex;
      background-color: rgb(65, 68, 68);
      
      .cells {
          text-align: center;
          vertical-align: middle;
          color: white;
      border: 1px solid white;
    }

    

    }
    &-row {
        position:relative;        
        width: 100%;
        // background-color: aquamarine;
        .row {
            display: flex;
            width: 100%;
            margin-top: 2px;
            
        }
    }

  }
  .cells {
      &:first-child {
          width: 50%;
      }
      &:nth-child(2) {
          width: 25%;
      }
      &:last-child {
          width: 25%;
      }    
      height: auto;
    //   border: 1px solid red;
  }

  .input {   
      width: 100%;
      height: 20px;
  }

  [name=material] {
    width: 180px;
    height: 25px;
  }

  #addMaterial {
      width: 80px;
      height: 25px;
  }

  #addRow {
      width: 30px;
      height: 25px;
      background-color:  rgb(65, 68, 68);
      color: white;
      position: absolute;
      bottom: -25px;
      right: 0px;
  }
}
